*{font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;}
body{background-color:#000;color:#fff;margin:0px;padding:0px;}
a{color:#00f;text-decoration:none;}
a:hover{text-decoration:underline;}
.center{text-align:center;}
.bgblack{width:5px;overflow:hidden;background-color:#000;padding:0px;margin:0px;}
.nopadding{margin:0px;padding:0px;}

div.ui-dialog-titlebar {display:none}
div.ui-dialog{margin:0px;padding:0px;}

div#setMobile{text-align:center;}
	div#setMobile a{color:#9cf;text-decoration:underline;}

img.photoThumbnail{border:1px solid #000;margin:1px;}
*{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;}
body{margin:0;padding:0;}

div#header1{background-color:#bbb;color:#000;text-align:left;}

table#main{border-collapse:collapse;width:100%;}
	table#main tr td{padding:0px;margin:0px;}
	table#main tr td.header2{background-color:#000;color:#fff;padding:5px;text-align:center;}
	table#main tr td.menu{background-color:#000;}
	table#main tr td.menu div.menu-group{background-color:#333;color:#fff;font-weight:bold;border-bottom:1px solid #000;padding:2px 0px 2px 5px;cursor:pointer;}
	table#main tr td.menu div.menu-section{background-color:#666;color:#fff;font-weight:bold;border-bottom:1px solid #000;padding:1px 0px 1px 10px;}
	table#main tr td.menu div.menu-page{background-color:#ccc;color:#00f;border-bottom:1px solid #000;padding:2px 0px 0px 10px;cursor:pointer;}
	table#main tr td.menu div.menu-page:hover{background-color:#9cf;color:#00f;cursor:pointer;}
	table#main tr td.menu div.menu-page-updated{background-color:#ffc;}
	/*
	table#main tr td.menu div.menu-page a:hover{text-decoration:none;color:#f00;}
	*/
	table#main tr td.menu div.menu-page-active{background-color:#fff;}
	table#main tr td.menu div.menu-tags{background-color:#ccc;padding:5px;color:#000;}
/*
	#jsddm{margin:0;padding:0}
		#jsddm li{float:left;list-style:none;}
			#jsddm li a{display: block;background:#999;padding: 5px 12px;text-decoration: none;border-right: 1px solid #555;border-right: 1px solid #555;color: #333;white-space: nowrap;font-weight:bold;font-size:14px;}
			#jsddm li a:hover{background: #bbb;color:#555;}
				#jsddm li ul{margin:0px 0px 0px -1px;padding:0;position:absolute;visibility:hidden;border:1px solid #555;}
					#jsddm li ul li{float:none;display:inline}
						#jsddm li ul li a{width:auto;background:#bbb;color:#555;border-bottom:1px solid #555;font-weight:bold;font-size:12px;}
						#jsddm li ul li a:hover{background:#ddd;color:#777;}
*/
	table#main tr td.content{background-color:#fff;color:#000;padding:15px;}
		table#main tr td.content h1{border-bottom:1px solid #333;color:#333;padding:5px 0px 1px 0px;margin:10px 0px 5px 0px;font-size:16px;letter-spacing:2px;}
		table#main tr td.content h2,h3{border-bottom:1px solid #333;color:#333;padding:5px 0px 1px 0px;margin:10px 0px 5px 0px;font-size:14px;letter-spacing:2px;}
		table#main tr td.content hr{background-color:#333;color:#333;height:1px;border:0px;}
		table#main tr td.content a{color:#00c;text-decoration:none;font-weight:bold;}
		table#main tr td.content a:hover{color:#c00;text-decoration:underline;}
		table#main tr td.content p{text-align:justify;}
		table#main tr td.content blockquote{border:1px solid #999;background-color:#ccc;margin:5px 5px 5px 25px;padding:5px;text-align:justify;}
		table#main tr td.content ul{margin:0px 0px 0px 27px;padding:0px;}
		table#main tr td.content ul li{list-style:square;margin:0px 0px 10px 0px;}
		table#main tr td.timestamp{padding:10px 0px 5px 0px;background-color:#fff;color:#999;}
		table#main tr td.timestamp hr{height:1px;size:1px;color:#999;background-color:#999;border:0px none;}

	table#main tr td.side{background-color:#000;color:#fff;width:175px;}
	table#main tr td.footer1{background-color:#000;color:#fff;padding:25px 0px 5px 0px;text-align:center;font-size:14px;}
	table#main tr td.footer2{background-color:#000;color:#999;padding:5px;text-align:center;font-size:10px;}

table.data{border:1px solid #000;border-collapse:collapse;border-spacing:1px;}
table.data tr th{background-color:#000;color:#fff;padding:5px 10px 1px 10px;font-weight:bold;text-align:center;display:table-cell;vertical-align:bottom;}
table.data tr.subsection td{background-color:#333;color:#ccc;padding:1px 10px;font-weight:bold;}
table.data tr td{background-color:#fff;color:#000;padding:1px 10px !important;border:1px solid #000;}

div#cms_photoGallery div.cms_photo{border:0px none;}
div#cms_photoGallery div.cms_photo div.cms_photoNumber{background-color:#000;color:#fff;border:1px solid #000;margin-bottom:1px;}
div#cms_photoGallery div.cms_photo div.cms_photoImage{border:1px solid #000;background-color:#ccc;}
div#cms_photoGallery div.cms_photo div.cms_photoCaption{background-color:#000;color:#fff;border:1px solid #000;margin-top:1px;}

/* jQueryUI restyles */
.tooltip {
	width:186px;
	display:none;
	border:2px solid #000;
	background-color:#fff;
	font-size:12px;
	padding:2px 5px 2px 5px;
	color:#000;
}
